/* FileUploadComponent.css */

/* Center the entire content */

.file-upload-container {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-color: transparent;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    width: 100%;
    max-width: 600px;
    transition: all 0.3s ease;
    animation: uploadAppear 1s ease-out ;
    padding: 40px 30px ;
    border-radius: 4%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);

  }
  
  /* Title styles */
  .upload-title {
    font-size: 1.8rem;
    font-family: var(--font1);
    color: #333;
    margin-bottom: 20px;
    font-weight: 700;
  }
  
  /* Container for the file input and button */
  .file-upload-content {
    display: flex;
    font-family: var(--font1);
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  /* File input styling */
  input[type="file"] {
    padding: 10px;
    font-size: 1rem;
    font-family: var(--font1);
    border: 2px solid #ddd;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: border-color 0.2s ease;
  }
  
  /* Change border color on hover */
  input[type="file"]:hover {
    border-color: #4e8ef7;
  }
  
  /* Button styling */
  /* From Uiverse.io by adamgiebl */ 
.button-analyse,.button-rapport {
  --green: #040505;
  font-size: 15px;
  padding: 0.5em 1.9em;
  letter-spacing: 0.06em;
  cursor: pointer;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.button-analyse:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

.button-analyse:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
}

.button-analyse:hover:before {
  transform: translateX(15em);
}



  @keyframes uploadAppear {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }



/* From Uiverse.io by Web-Potato */ 
.toggleButton {
    position: absolute; /* Ou fixed si tu veux qu'il reste visible au scroll */
    left: 50%;
    bottom: 0px; /* Garde une marge de 10px depuis le bas */
    transform: translateX(-50%); /* Décale de la moitié de sa largeur pour être bien centré */
    padding: 0.1em 0.25em;
    width: 13em;
    height: 4.2em;
    background-color: #4e8ef7;
    border: 0.08em solid #fff;
    border-radius: 0.3em;
    font-size: 12px;
    cursor: pointer;
}


.toggleButton  span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.4em;
  width: 8.25em;
  height: 2.5em;
  background-color: #2a2a2b;
  border-radius: 0.2em;
  font-size: 1.5em;
  color: #ffffff;
  border: 0.08em solid #fff;
  box-shadow: 0 0.4em 0.1em 0.019em #fff;
}

.toggleButton  span:hover {
  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #fff;
}

.toggleButton  span:not(hover) {
  transition: all 1s;
}

/* the loader style*/
/* From Uiverse.io by Uncannypotato69 */ 
.textWrapper {
  height: 90px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.25ch;
  position: absolute;
  bottom:0px;left: 50%;    
  transform: translate(-50%, -50%);
  z-index: 99999;
  color: white;
}

.invertbox {
  position: absolute;
  height: 100%;
  aspect-ratio: 1/1;
  left: 0;
  top: 0;
  border-radius: 20%;
  background-color: rgba(209, 15, 89, 0.1);
  backdrop-filter: invert(100%);
  animation: move 2s ease-in-out infinite;
}

@keyframes move {
  50% {
    left: calc(100% - 3rem);
  }
}
