
  
  /* only Dashboard will get this */
  .dashboard-container{
  flex:1;
  padding:0;
  margin: 0;
  width: 100%;
  min-height: 100%;
  background-image: url('./../../../public/dashboard.webP'); /* Replace with the correct path */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #0a0a23; /* Fallback dark color */
}


