/*body {
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background: linear-gradient(120deg, #0f172a, #1e293b);
  overflow: hidden;  backdrop-filter: blur(10px);
    background-size: cover;}*/
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

    body {
      background-image: linear-gradient(-225deg, #180d40 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
        
        margin: 0;
        padding: 0;
        width: 100%;
        height: 200%;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        line-height: 1.6;
        background-size: cover;}

  .app{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

:root {
  --main-color_back: #00bfff;
  --main-size-font: 18px;
  --font1:"Poppins", sans-serif;
  --font2:"Barriecito";
}

::-webkit-scrollbar {
  width: 8px;
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background: #4ecdc4;
  border-radius: 4px;
}

/* Keyframes for horizontal sliding effect */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Apply the animation to the text */
h1 {
  /*animation: slideInFromLeft 4s ease-out forwards;*/
  font-size: 1rem;
  font-weight: bold;
}

/* navbar.css */


.container {
  width: 1080px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/* Navbar Class */
.navbar {
  position: fixed;
  top: 0;
  font-family: var(--font1);
  font-size: var(--main-size-font);
  width: 1410px;  /* Ensure it spans the entire width of the container */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 50; /* Pour être sûr que la navbar reste au-dessus */

}



 .nav-links {
  display: flex;
  gap: 20px;
  filter: drop-shadow(2px 5px 5px #313131);

}

.navbar .nav-links a {
  height: fit-content;
  color: rgb(251, 245, 245);
  background-color: transparent; /* Darker Indigo on hover */
  text-decoration: none;

}




.logo {
  width: 180px;
  height: 100px;
  background-image: url('./../public/nav_img.png'); /* adapte le chemin si nécessaire */
  background-size: cover;
  background-position: center;
  filter: drop-shadow(8px 8px 16px black);
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0;
}


/* From Uiverse.io by gharsh11032000 */ 
.animated-button {
  filter: drop-shadow(2px 5px 5px #313131);
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: white;
  box-shadow: 0 0 0 2px #ffffff20;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button span:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #2196F3;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.animated-button span:first-child {
  position: relative;
  z-index: 1;
}

.animated-button:hover {
  box-shadow: 0 0 0 5px #2195f360;
  color: #ffffff;
}

.animated-button:active {
  scale: 0.95;
}

.animated-button:hover span:last-child {
  width: 150px;
  height: 150px;
  opacity: 1;
}




/* langageSwitcher spot*/
.language-switcher-container {
  position: relative;
  display: inline-block;
  filter: drop-shadow(2px 5px 5px #313131);

}

.language-switcher-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  clip-path: inset(5% 20% 15% 10%);
  transform: translate(-50%, -50%);
  width: 140px; /* Adjust size as needed */
  height: 120px; /* Adjust size as needed */
  background: transparent; /* Purple gradient */
  z-index: -1; /* Place it behind the content */
  filter: blur(20px); /* Add a blur effect for a glowing look */
}